/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#define ZMK_POINTING_DEFAULT_SCRL_VAL 300

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3

/ {
    // Activate ADJUST layer by pressing raise and lower

    conditional_layers {
        compatible = "zmk,conditional-layers";

        adjust_layer {
            if-layers = <3 3>;
            then-layer = <2>;
        };
    };

    behaviors {
        mousescroll: mousescroll {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

            tap-ms = <20>;
        };

        One_Three_Zero: One_Three_Zero {
            compatible = "zmk,behavior-tap-dance";
            label = "ONE_THREE_ZERO";
            #binding-cells = <0>;
            bindings = <&tog 1>, <&tog 3>, <&tog 0>;
        };

        Space_Ctrl: Space_Ctrl {
            compatible = "zmk,behavior-hold-tap";
            label = "SPACE_CTRL";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    macros {
        Clipboard: Clipboard {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp V>,
                <&macro_release>,
                <&kp LCTRL &kp V>;

            label = "CLIPBOARD";
        };

        PIV: PIV {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N2 &kp N2 &kp N9 &kp N9 &kp N6 &kp N9>;
            label = "PIV";
        };

        E_Sign: E_Sign {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp LS(C) &kp LS(V) &kp LS(A) &kp LS(L) &kp LS(D) &kp LS(E) &kp LS(Z) &kp N1>;
            label = "E_SIGN";
        };
    };

    combos {
        compatible = "zmk,combos";

        Refresh {
            bindings = <&kp F5>;
            key-positions = <4 5>;
        };

        Inventory {
            bindings = <&kp I>;
            key-positions = <28 29>;
        };

        Map {
            bindings = <&kp M>;
            key-positions = <40 41>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Zero {
            label = "Gaming";

            // ------------------------------------------------------------------------------------------------------------
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |       |
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   | BKSPC |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |  MUTE  |  |       |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //               | GUI | ALT  | CTRL | LOWER|  ENTER |  | SPACE | RAISE| CTRL  | ALT   | GUI  |

            bindings = <
&kp ESC     &kp N1    &kp N2           &kp N3        &kp N4     &kp N5     &kp N6      &kp N7  &kp N8        &kp N9          &kp N0             &kp BSPC
&kp TAB     &kp Q     &kp W            &kp E         &kp R      &kp T      &kp Y       &kp U   &kp I         &kp O           &kp P              &kp ENTER
&mo 2       &kp A     &kp S            &kp D         &kp F      &kp G      &kp H       &kp J   &kp K         &kp L           &kp SEMI           &kp SQT
&kp LSHFT   &kp Z     &kp X            &kp C         &kp V      &kp B      &kp N       &kp M   &kp COMMA     &kp DOT         &kp FSLH           &kp RALT
&kp C_MUTE  &kp LGUI  &One_Three_Zero  &kp LEFT_ALT  &kp LCTRL  &kp SPACE  &kp SPACE   &mo 3   &kp LEFT      &kp DOWN_ARROW  &kp RIGHT
                                                                           &kp K_MUTE  &none   &kp C_VOL_UP  &none           &kp C_VOLUME_DOWN
            >;

            sensor-bindings = <&mousescroll &inc_dec_kp PG_UP PG_DN>;
        };

        One {
            label = "Work";
            bindings = <
&kp ESC     &kp N1    &kp N2           &kp N3        &kp N4                   &kp N5     &kp N6      &kp N7  &kp N8        &kp N9    &kp N0             &kp BSPC
&kp TAB     &kp Q     &kp W            &kp E         &kp R                    &kp T      &kp Y       &kp U   &kp I         &kp O     &kp P              &kp ENTER
&mo 4       &kp A     &kp S            &kp D         &kp F                    &kp G      &kp H       &kp J   &kp K         &kp L     &kp SEMI           &kp SQT
&kp LSHFT   &kp Z     &kp X            &kp C         &kp V                    &kp B      &kp N       &kp M   &kp COMMA     &kp DOT   &kp FSLH           &kp RALT
&kp C_MUTE  &kp LGUI  &One_Three_Zero  &kp LEFT_ALT  &Space_Ctrl LCTRL SPACE  &kp SPACE  &kp SPACE   &mo 3   &kp LEFT      &kp DOWN  &kp RIGHT
                                                                                         &kp K_MUTE  &none   &kp C_VOL_UP  &none     &kp C_VOLUME_DOWN
            >;

            sensor-bindings = <&mousescroll>, <&inc_dec_kp PG_UP PG_DN>;
        };

        Two {
            label = "Numpad";
            bindings = <
&kp GRAVE  &none  &none  &none  &none  &none  &none  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &none      &kp BACKSPACE
&none      &none  &none  &none  &none  &none  &none  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &none      &none
&none      &none  &none  &none  &none  &none  &none  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &none      &none
&none      &none  &none  &none  &none  &none  &none  &kp KP_NUMBER_1  &kp UP_ARROW     &none            &PIV       &E_Sign
&none      &none  &none  &none  &none  &none  &none  &none            &kp LEFT_ARROW   &kp DOWN         &kp RIGHT
                                              &none  &none            &none            &none            &none
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp PG_UP PG_DN>;
        };

        Three {
            label = "F Keys";

            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1  | BT2  |  BT3  |  BT4  |  BT5 |                |      |      |       |      |       |       |
            // |       | INS  | PSCR | GUI   |       |      |                | PGUP |      |   ^   |      |       |       |
            // |       | ALT  | CTRL | SHIFT |       | CAPS |                | PGDN |   <- |   v   |  ->  |  DEL  | BKSPC |
            // |       | UNDO | CUT  | COPY  | PASTE |      |      |  |      |      |      |       |      |       |       |
            //                |      |       |       |      |      |  |      |      |      |       |      |

            bindings = <
&none  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6     &kp F7     &kp F8        &kp F9    &kp F10    &kp F11
&none  &none   &none   &none   &none   &none   &none      &none      &none         &none     &none      &kp F12
&none  &none   &none   &none   &none   &none   &none      &none      &none         &none     &none      &none
&none  &none   &none   &none   &none   &none   &none      &none      &kp UP_ARROW  &none     &none      &none
&none  &none   &none   &none   &none   &none   &kp SPACE  &kp RCTRL  &kp LEFT      &kp DOWN  &kp RIGHT
                                               &none      &none      &none         &none     &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        Four {
            bindings = <
&trans  &trans  &trans          &trans  &trans  &kp INSERT  &kp KP_NUMLOCK  &trans  &trans          &trans    &kp MINUS         &kp EQUAL
&trans  &trans  &trans          &trans  &trans  &trans      &kp PAGE_UP     &trans  &trans          &trans    &trans            &kp NON_US_BACKSLASH
&trans  &trans  &kp LEFT_SHIFT  &trans  &trans  &trans      &kp PG_DN       &trans  &trans          &trans    &kp LEFT_BRACKET  &kp RIGHT_BRACKET
&trans  &trans  &trans          &trans  &trans  &trans      &trans          &trans  &kp UP_ARROW    &trans    &trans            &trans
&trans  &trans  &trans          &trans  &trans  &kp SPACE   &trans          &trans  &kp LEFT_ARROW  &kp DOWN  &kp RIGHT
                                                            &trans          &trans  &trans          &trans    &trans
            >;
        };
    };
};
